@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

main {
    width: 100vw;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: hsl(216, 50%, 16%);
    width: 375px;
    height: 480px;
    padding: 20px;
    padding-top: 30px;
    border-radius: 10px;
}

.principal {
    width: 375px;
    height: 275px;
    border-radius: 10px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    padding: 10px 0px 10px 0px;
}
p {
    color: hsl(215, 51%, 70%);
    padding: 0px 0px 10px 0px;
}

.dados {
    display: flex;
    justify-content: space-between;
}

div p#azul {
    color: hsl(178, 100%, 50%);
}

div p#cinza {
    color: hsl(215, 51%, 70%);
}
.linha {
    size: 1px;
    width: 375px;
    color: hsl(215, 32%, 27%);
    margin-top: 10px;
    margin-bottom: 10px;
}

.rodape {
    display:flex;
    align-items: center;
    padding-top: 10px;
}

.icone {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

strong {
    color: hsl(0, 0%, 100%);
    padding-left: 2px;
}

